/************************
RESET
*************************/

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.main {
  margin: 0 auto;
  width: 80%;
}


.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}



/* PRODUCT CARD  */

.product-card {
  margin-top: 30px;
  width: calc(100 / 3);
  max-width: 300px;
  padding-bottom: 50px;
}

.brand {
  margin-top: 0;
  color: #808080;
  font-size: 0.7rem;
}

.product-description {
  font-size: 0.9rem;
  padding-top: 2px;
  padding-bottom: 2px;
  /* LATER: maybe use gap instead of padding  */
}

.price-section {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
}

.price {
  color: #ff0000; 
  padding-right: 5px;
}

.original-price {
  text-decoration: line-through;
}