/************************
RESET
*************************/

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


/************************/

body {
  font-family: sans-serif;
}

.main {
  margin: 0 auto;
  width: 80%;
}


.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}



/* PRODUCT CARD  */

.product-card {
  margin-top: 30px;
  width: calc(100 / 3);
  max-width: 300px;
  padding-bottom: 50px;
}

.brand {
  margin-top: 0;
  color: #808080;
  font-size: 0.7rem;
}

.product-description {
  font-size: 0.9rem;
  padding-top: 2px;
  padding-bottom: 2px;
  /* LATER: maybe use gap instead of padding  */
}

.price-section {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
}

.price {
  color: #ff0000;
  padding-right: 5px;
}

.original-price {
  text-decoration: line-through;
}

/* image labels and button  */

.product-image {
  position: relative;
}

.heart-button {
  padding: 10px 15px;
  background-color: #ffffff;
  position: absolute;
  right: 0px;
  top: 2%;
  font-size: 1.5rem;
  border-radius: 5px;
}

.heart-button:hover {
  background-color: #ff0000;
}

.label-container {
  display: flex;
  position: absolute;
  top: 80%;
}

.label {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.7rem;
  color: #ffffff;
}

.discount {
  background-color: #ff0000;
  margin-right: 5px;
}

.eco {
  background-color: rgb(13, 121, 13);
}

.single-label {
  position: absolute;
  top: 80%;
}